<head>
    <link rel="icon" type="image/x-icon" href="/images/resourcepacks/minecraft_1_8_9/assets/minecraft/textures/items/gold_ingot.png">
    <link rel='stylesheet' href='/stylesheets/index.css'>
    <script defer src="/javascripts/index.js"></script>
    <title><%- title %> | SkyBrain</title>
    <audio id="clickSound" src="/sounds/click.ogg" type="audio/ogg"></audio>
</head>