<%
	// define dynamic constants (skyblock data)
	const products = bazaarData.products;
	const items = itemData.items;
%>
<!DOCTYPE html>
<html lang="en">
	<%-
		include('partials/head.ejs');
	%>
	<body>
		<%-
			include('partials/nav.ejs');
		%>
		<main>
			<div id="bazaarContentsContainer">
				<h1>Bazaar Contents</h1>
				<div id="bazaarContents">
					<% for (let i = 0; i < 54; i++) { // 54 slots in a double chest (size of bazaar GUI)
						

						%>
							<div class="bazaarItem" tabindex="0">
								<div class="itemImage"></div>
								<div class="itemTooltip">Loading...</div>
							</div>
						<%
					} %>
				</div>
			</div>
			<div id="bazaarFavouritesContainer">
				<h1>Bazaar Favourites</h1>
				<div id="bazaarFavourites">
					
				</div>	
			</div>
		</main>
		<%-
			include('partials/footer.ejs');
		%>
	</body>
</html>