<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" type="image/x-icon" href="/images/resourcepacks/minecraft_1_8_9/assets/minecraft/textures/items/gold_ingot.png">
		<title>Error | SkyBrain</title>
	</head>
	<body>
		<h1><%= message %></h1>
		<h2><%= error.status %></h2>
		<pre><%= error.stack %></pre>
	</body>
</html>
